/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
  font-size: 10px;
}
body {
  /* background: url('https://static.wixstatic.com/media/3320ae_98bd0cbe80284aa592618245a1c7ac3a~mv2.jpg/v1/fill/w_980,h_1259,al_c,q_85,usm_0.66_1.00_0.01/3320ae_98bd0cbe80284aa592618245a1c7ac3a~mv2.webp');
  background-size: cover; */
}

body, a {
  font-size: 1.6rem;
  font-family: 'Jura', sans-serif;
  color: rgb(217,240,253);
  letter-spacing: 0.16rem;
  line-height: 1.5;
  padding: 3rem 0;
}

.background {
  z-index: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  box-shadow: 2px 2px 5px;
  background: #000;
  filter: contrast(5);
  --mask: linear-gradient(#0F0, rgba(0, 255, 0, 0.6) 90%);
}
.background::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(rgba(255, 255, 255, 0.75), transparent) 0 0 / 1rem 1rem space;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  content: ''
}

.container {
  max-width: 70rem;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.video-container {
  text-align: center;
}

.content {
  max-width: 70rem;
  font-weight: 300;
}
.signature {
  text-align: right;
}

.footer {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
}


div#amplitude-player {
  background: #FFFFFF;
  box-shadow: 0 2px 12px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  max-width: 900px;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  div#amplitude-player {
    flex-direction: column;
  }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  div#amplitude-player {
    max-height: 715px;
  }
}

/* Large and up */
@media screen and (min-width: 64em) {
  div#amplitude-player {
    max-height: 715px;
  }
}

div#amplitude-left {
  padding: 0px;
  border-right: 1px solid #CFD8DC;
  width: 50%;
  display: flex;
  flex-direction: column;
}

div#amplitude-left img.album-art {
  width: 100%;
}

div#amplitude-left div#player-left-bottom {
  flex: 1;
  background-color: #F1F1F1;
  padding: 20px 10px;
}

div#amplitude-left div#player-left-bottom div#volume-container:after {
  content: "";
  display: table;
  clear: both;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  div#amplitude-player div#amplitude-left {
    width: 100%;
  }

  div#amplitude-player div#amplitude-left img[amplitude-song-info="cover_art_url"] {
    width: auto;
    height: auto;
  }
}

div#amplitude-right {
  padding: 0px;
  overflow-y: scroll;
  width: 50%;
  display: flex;
  flex-direction: column;
}

div#amplitude-right div.song {
  cursor: pointer;
  padding: 10px;
}

div#amplitude-right div.song div.song-now-playing-icon-container {
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

div#amplitude-right div.song div.song-now-playing-icon-container img.now-playing {
  display: none;
  margin-top: 15px;
}

div#amplitude-right div.song div.play-button-container {
  display: none;
  background: url("https://521dimensions.com/img/open-source/amplitudejs/blue-player/list-play-light.png") no-repeat;
  width: 22px;
  height: 22px;
  margin-top: 10px;
}

div#amplitude-right div.song div.play-button-container:hover {
  background: url("https://521dimensions.com/img/open-source/amplitudejs/blue-player/list-play-hover.png") no-repeat;
}

div#amplitude-right div.song.amplitude-active-song-container div.song-now-playing-icon-container img.now-playing {
  display: block;
}

div#amplitude-right div.song.amplitude-active-song-container:hover div.play-button-container {
  display: none;
}

div#amplitude-right div.song div.song-meta-data {
  float: left;
  width: calc(100% - 110px);
}

div#amplitude-right div.song div.song-meta-data span.song-title {
  color: #272726;
  font-size: 16px;
  display: block;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div#amplitude-right div.song div.song-meta-data span.song-artist {
  color: #607D8B;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div#amplitude-right div.song img.bandcamp-grey {
  float: left;
  display: block;
  margin-top: 10px;
}

div#amplitude-right div.song img.bandcamp-white {
  float: left;
  display: none;
  margin-top: 10px;
}

div#amplitude-right div.song span.song-duration {
  float: left;
  width: 55px;
  text-align: center;
  line-height: 45px;
  color: #607D8B;
  font-size: 16px;
  font-weight: 500;
}

div#amplitude-right div.song:after {
  content: "";
  display: table;
  clear: both;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  div#amplitude-player div#amplitude-right {
    width: 100%;
  }
}

div#progress-container {
  width: 70%;
  float: left;
  position: relative;
  height: 20px;
  cursor: pointer;
  /*
    IE 11
  */
}

div#progress-container:hover input[type=range].amplitude-song-slider::-webkit-slider-thumb {
  display: block;
}

div#progress-container:hover input[type=range].amplitude-song-slider::-moz-range-thumb {
  visibility: visible;
}

div#progress-container progress#song-played-progress {
  width: 100%;
  position: absolute;
  left: 0;
  top: 8px;
  right: 0;
  width: 100%;
  z-index: 60;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
  border-radius: 5px;
  background: transparent;
  border: none;
  /* Needed for Firefox */
}

@media all and (-ms-high-contrast: none) {

  div#progress-container *::-ms-backdrop,
  div#progress-container progress#song-played-progress {
    color: #00A0FF;
    border: none;
    background-color: #CFD8DC;
  }
}

@supports (-ms-ime-align: auto) {
  div#progress-container progress#song-played-progress {
    color: #00A0FF;
    border: none;
  }
}

div#progress-container progress#song-played-progress[value]::-webkit-progress-bar {
  background: none;
  border-radius: 5px;
}

div#progress-container progress#song-played-progress[value]::-webkit-progress-value {
  background-color: #00A0FF;
  border-radius: 5px;
}

div#progress-container progress#song-played-progress::-moz-progress-bar {
  background: none;
  border-radius: 5px;
  background-color: #00A0FF;
  height: 5px;
  margin-top: -2px;
}

div#progress-container progress#song-buffered-progress {
  position: absolute;
  left: 0;
  top: 8px;
  right: 0;
  width: 100%;
  z-index: 10;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
  border-radius: 5px;
  background: transparent;
  border: none;
  background-color: #D7DEE3;
}

div#progress-container progress#song-buffered-progress[value]::-webkit-progress-bar {
  background-color: #CFD8DC;
  border-radius: 5px;
}

div#progress-container progress#song-buffered-progress[value]::-webkit-progress-value {
  background-color: #78909C;
  border-radius: 5px;
  transition: width .1s ease;
}

div#progress-container progress#song-buffered-progress::-moz-progress-bar {
  background: none;
  border-radius: 5px;
  background-color: #78909C;
  height: 5px;
  margin-top: -2px;
}

div#progress-container progress::-ms-fill {
  border: none;
}

@-moz-document url-prefix() {
  div#progress-container progress#song-buffered-progress {
    top: 9px;
    border: none;
  }
}

@media all and (-ms-high-contrast: none) {

  div#progress-container *::-ms-backdrop,
  div#progress-container progress#song-buffered-progress {
    color: #78909C;
    border: none;
  }
}

@supports (-ms-ime-align: auto) {
  div#progress-container progress#song-buffered-progress {
    color: #78909C;
    border: none;
  }
}

div#progress-container input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.5px 0;
  position: absolute;
  z-index: 9999;
  top: -7px;
  height: 20px;
  cursor: pointer;
  background-color: inherit;
}

div#progress-container input[type=range]:focus {
  outline: none;
}

div#progress-container input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #0075a9;
  border-radius: 0px;
  border: 0px solid #010101;
}

div#progress-container input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #00a0ff;
  height: 15px;
  width: 15px;
  border-radius: 16px;
  background: #00a0ff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}

div#progress-container input[type=range]:focus::-webkit-slider-runnable-track {
  background: #00adfb;
}

div#progress-container input[type=range]::-moz-range-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #0075a9;
  border-radius: 0px;
  border: 0px solid #010101;
}

div#progress-container input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #00a0ff;
  height: 15px;
  width: 15px;
  border-radius: 16px;
  background: #00a0ff;
  cursor: pointer;
}

div#progress-container input[type=range]::-ms-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

div#progress-container input[type=range]::-ms-fill-lower {
  background: #003d57;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}

div#progress-container input[type=range]::-ms-fill-upper {
  background: #0075a9;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}

div#progress-container input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #00a0ff;
  height: 15px;
  width: 15px;
  border-radius: 16px;
  background: #00a0ff;
  cursor: pointer;
  height: 0px;
  display: block;
}

@media all and (-ms-high-contrast: none) {

  div#progress-container *::-ms-backdrop,
  div#progress-container input[type="range"].amplitude-song-slider {
    padding: 0px;
  }

  div#progress-container *::-ms-backdrop,
  div#progress-container input[type=range].amplitude-song-slider::-ms-thumb {
    height: 15px;
    width: 15px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: -8px;
  }

  div#progress-container *::-ms-backdrop,
  div#progress-container input[type=range].amplitude-song-slider::-ms-track {
    border-width: 15px 0;
    border-color: transparent;
  }

  div#progress-container *::-ms-backdrop,
  div#progress-container input[type=range].amplitude-song-slider::-ms-fill-lower {
    background: #CFD8DC;
    border-radius: 10px;
  }

  div#progress-container *::-ms-backdrop,
  div#progress-container input[type=range].amplitude-song-slider::-ms-fill-upper {
    background: #CFD8DC;
    border-radius: 10px;
  }
}

@supports (-ms-ime-align: auto) {
  div#progress-container input[type=range].amplitude-song-slider::-ms-thumb {
    height: 15px;
    width: 15px;
    margin-top: 3px;
  }
}

div#progress-container input[type=range]:focus::-ms-fill-lower {
  background: #0075a9;
}

div#progress-container input[type=range]:focus::-ms-fill-upper {
  background: #00adfb;
}

div#control-container {
  margin-top: 25px;
  margin-top: 20px;
}

div#control-container div#repeat-container {
  width: 25%;
  float: left;
  padding-top: 20px;
}

div#control-container div#repeat-container div#repeat {
  width: 24px;
  height: 19px;
  cursor: pointer;
}

div#control-container div#repeat-container div#repeat.amplitude-repeat-off {
  background: url("https://521dimensions.com/img/open-source/amplitudejs/blue-player/repeat-off.svg");
}

div#control-container div#repeat-container div#repeat.amplitude-repeat-on {
  background: url("https://521dimensions.com/img/open-source/amplitudejs/blue-player/repeat-on.svg");
}

div#control-container div#repeat-container div#shuffle {
  width: 23px;
  height: 19px;
  cursor: pointer;
  float: right;
}

div#control-container div#repeat-container div#shuffle.amplitude-shuffle-off {
  background: url("https://521dimensions.com/img/open-source/amplitudejs/blue-player/shuffle-off.svg");
}

div#control-container div#repeat-container div#shuffle.amplitude-shuffle-on {
  background: url("https://521dimensions.com/img/open-source/amplitudejs/blue-player/shuffle-on.svg");
}

@media all and (-ms-high-contrast: none) {

  div#control-container *::-ms-backdrop,
  div#control-container div#control-container {
    margin-top: 40px;
    float: none;
  }
}

div#control-container div#central-control-container {
  width: 50%;
  float: left;
}

div#control-container div#central-control-container div#central-controls {
  width: 130px;
  margin: auto;
}

div#control-container div#central-control-container div#central-controls div#previous {
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: url("https://521dimensions.com/img/open-source/amplitudejs/blue-player/prev.svg");
  background-repeat: no-repeat;
  float: left;
  margin-top: 10px;
  margin-right: -5px;
}

div#control-container div#central-control-container div#central-controls div#play-pause {
  display: inline-block;
  width: 60px;
  height: 60px;
  cursor: pointer;
  float: left;
}

div#control-container div#central-control-container div#central-controls div#play-pause.amplitude-paused {
  background: url("https://521dimensions.com/img/open-source/amplitudejs/blue-player/play.svg");
}

div#control-container div#central-control-container div#central-controls div#play-pause.amplitude-playing {
  background: url("https://521dimensions.com/img/open-source/amplitudejs/blue-player/pause.svg");
}

div#control-container div#central-control-container div#central-controls div#next {
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: url("https://521dimensions.com/img/open-source/amplitudejs/blue-player/next.svg");
  background-repeat: no-repeat;
  float: left;
  margin-top: 10px;
  margin-left: -5px;
}

div#control-container div#volume-container {
  width: 25%;
  float: left;
  padding-top: 20px;
}

div#control-container div#volume-container div#shuffle-right {
  width: 23px;
  height: 19px;
  cursor: pointer;
  margin: auto;
}

div#control-container div#volume-container div#shuffle-right.amplitude-shuffle-off {
  background: url("https://521dimensions.com/img/open-source/amplitudejs/blue-player/shuffle-off.svg");
}

div#control-container div#volume-container div#shuffle-right.amplitude-shuffle-on {
  background: url("https://521dimensions.com/img/open-source/amplitudejs/blue-player/shuffle-on.svg");
}

div#control-container div.amplitude-mute {
  cursor: pointer;
  width: 25px;
  height: 19px;
  float: left;
}

div#control-container div.amplitude-mute.amplitude-not-muted {
  background: url("https://521dimensions.com/img/open-source/amplitudejs/blue-players/volume.svg");
  background-repeat: no-repeat;
}

div#control-container div.amplitude-mute.amplitude-muted {
  background: url("https://521dimensions.com/img/open-source/amplitudejs/blue-player/mute.svg");
  background-repeat: no-repeat;
}

div#control-container:after {
  content: "";
  display: table;
  clear: both;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  div#amplitude-player div#repeat-container div#repeat {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  div#amplitude-player div#repeat-container div#shuffle {
    display: none;
  }

  div#amplitude-player div#volume-container div.volume-controls {
    display: none;
  }

  div#amplitude-player div#volume-container div#shuffle-right {
    display: block;
  }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  div#amplitude-player div#repeat-container div#repeat {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  div#amplitude-player div#repeat-container div#shuffle {
    display: none;
  }

  div#amplitude-player div#volume-container div.volume-controls {
    display: none;
  }

  div#amplitude-player div#volume-container div#shuffle-right {
    display: block;
  }
}

/* Large and up */
@media screen and (min-width: 64em) {
  div#amplitude-player div#repeat-container div#repeat {
    margin-left: 10px;
    margin-right: 20px;
    float: left;
  }

  div#amplitude-player div#volume-container div#shuffle-right {
    display: none;
  }
}

input[type=range].amplitude-volume-slider {
  -webkit-appearance: none;
  width: calc(100% - 33px);
  float: left;
  margin-top: 10px;
  margin-left: 5px;
}

@-moz-document url-prefix() {
  input[type=range].amplitude-volume-slider {
    margin-top: 0px;
  }
}

@supports (-ms-ime-align: auto) {
  input[type=range].amplitude-volume-slider {
    margin-top: 3px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0) !important;
    z-index: 999;
    position: relative;
  }

  div.ms-range-fix {
    height: 1px;
    background-color: #A9A9A9;
    width: 67%;
    float: right;
    margin-top: -6px;
    z-index: 9;
    position: relative;
  }
}

@media all and (-ms-high-contrast: none) {

  *::-ms-backdrop,
  input[type=range].amplitude-volume-slider {
    margin-top: -24px;
    background-color: rgba(255, 255, 255, 0) !important;
  }
}

input[type=range].amplitude-volume-slider:focus {
  outline: none;
}

input[type=range].amplitude-volume-slider::-webkit-slider-runnable-track {
  width: 75%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  background: #CFD8DC;
}

input[type=range].amplitude-volume-slider::-webkit-slider-thumb {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: #00A0FF;
  cursor: pointer;
  margin-top: -4px;
  -webkit-appearance: none;
}

input[type=range].amplitude-volume-slider:focus::-webkit-slider-runnable-track {
  background: #CFD8DC;
}

input[type=range].amplitude-volume-slider::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  background: #CFD8DC;
}

input[type=range].amplitude-volume-slider::-moz-range-thumb {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: #00A0FF;
  cursor: pointer;
  margin-top: -4px;
}

input[type=range].amplitude-volume-slider::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 15px 0;
  /*remove default tick marks*/
  color: transparent;
}

input[type=range].amplitude-volume-slider::-ms-fill-lower {
  background: #CFD8DC;
  border-radius: 10px;
}

input[type=range].amplitude-volume-slider::-ms-fill-upper {
  background: #CFD8DC;
  border-radius: 10px;
}

input[type=range].amplitude-volume-slider::-ms-thumb {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: #00A0FF;
  cursor: pointer;
  margin-top: 2px;
}

input[type=range].amplitude-volume-slider:focus::-ms-fill-lower {
  background: #CFD8DC;
}

input[type=range].amplitude-volume-slider:focus::-ms-fill-upper {
  background: #CFD8DC;
}

input[type=range].amplitude-volume-slider::-ms-tooltip {
  display: none;
}

div#time-container span.current-time {
  color: #607D8B;
  font-size: 14px;
  font-weight: 700;
  float: left;
  width: 15%;
  text-align: center;
}

div#time-container span.duration {
  color: #607D8B;
  font-size: 14px;
  font-weight: 700;
  float: left;
  width: 15%;
  text-align: center;
}

div#time-container:after {
  content: "";
  display: table;
  clear: both;
}

div#meta-container {
  text-align: center;
  margin-top: 5px;
}

div#meta-container span.song-name {
  display: block;
  color: #272726;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div#meta-container div.song-artist-album {
  color: #607D8B;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div#meta-container div.song-artist-album span {
  display: block;
}

/*
  3. Layout
*/

div.amplitude-wave-form {
  margin-top: -14px;
}

div.amplitude-wave-form svg {
  stroke: #00a0ff;
  height: 50px;
  width: 100%;
  stroke-width: .5px;
}

div.amplitude-wave-form svg g {
  stroke: #00a0ff;
  height: 50px;
  width: 100%;
}

div.amplitude-wave-form svg g path {
  stroke: #00a0ff;
  height: 50px;
  width: 100%;
}

div#large-visualization {
  width: 100%;
  background-color: black;
  visibility: hidden;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

